.sidebar {
    width: 250px; 
    background-color: #2c6793; 
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1); 
    height: 100vh; 
    position: fixed; 
    display: flex;
    flex-direction: column; 
}

.sidebar nav {
    display: flex;
    flex-direction: column; 
}

.sidebar a {
    text-decoration: none; 
    color: #ffffff;
    padding: 15px; 
    border-radius: 4px; 
    display: flex; 
    align-items: center; 
    transition: background-color 0.3s; 
    margin-bottom: 10px; 
    width: 100%; 
}

.icon {
    margin-right: 10px; 
    width: 20px;
    height: 20px;
    fill: #ecf0f1; 
    transition: fill 0.3s ease;
}

.sidebar a:last-child {
    margin-bottom: 0; 
}

.sidebar a i {
    margin-right: 10px; 
}

.sidebar a:hover {
    background-color: #0080ff; 
}

.sidebar .active {
    background-color: #003d7e; 
    color: #fff; 
    font-weight: bolder;
}